In [8]:
import sys
import geopandas as gpd
display(sys.version)
display(gpd.__version__)

'3.11.10 (main, Nov 10 2024, 07:11:31) [Clang 13.0.0 (clang-1300.0.29.30)]'

'1.0.1'

In [6]:
df = gpd.read_file('porto/edges.shp')

In [33]:
edge_eid_to_osmid = df[['osmid0']].rename(columns={'osmid0': 'osmid'})
edge_eid_to_osmid.to_csv('data/edges_osmid_to_edges.csv', index=False)
edge_eid_to_osmid.head(5)

                             osmid
0                        479127843
1            [4256507, 1175924414]
2                          4256513
3                        158906049
4  [4256491, 108390772, 479127839]